<aside id="left-sidebar">
  <div class="sidebar-links">
    <ul>
      <li class="active"><a href="/account" title="Orders">Orders</a></li>
      <li><a href="/account/addresses" title="Orders">Addresses</a></li>
    </ul>
  </div><!--sidebar-links-->  
</aside><!--left-sidebar-->