<div id="footer-videos">
  <div class="row no-margin">
    <div class="col col50">
      <h2>{{ settings.video_1_title }}</h2>
      {{ settings.video_1_embed }}
    </div><!--col50-->
    <div class="col col50">
      <h2>{{ settings.video_2_title }}</h2>
      {{ settings.video_2_embed }}
    </div><!--col50-->
  </div><!--row-->
</div><!--footer-videos-->