<div id="footer-cta">
  <h2 class="container-wrapper">{{ settings.footer_cta_1 }}</h2>
  <hr />
  <p class="container-wrapper">{{ settings.footer_cta_2 }}</p>
  <a class="join"href="{{ settings.footer_cta_button_url }}">{{ settings.footer_cta_button_text }}</a>
</div><!--footer-cta-->