<form class="search-form textile" action="/search" class="clearfix" method="get">
  <input type="search" name="q" value="{{search.terms | escape}}" class="search-input" placeholder="{{ settings.search_placeholder_text }}"/>
  <button tabindex="2" class="search-button" type="submit">
    <i class="fa fa-search"></i>
  </button>
</form>