<div class="row row-no-margins">
  <div class="col col100">
    <h2>{{ pages[settings.home_content_two].title }}</h2>
    <p>{{ pages[settings.home_content_two].content }}</p>
  </div><!--col100-->
</div><!--row-->