{% layout settings.customer_layout %}
<div id="generic-page" class="container-wrapper textile customers-page">
  <h1>Reset Password</h1>
  <div id="customer-left">
    <p class="lead">Enter a new password for {{ email }}</p>
    {% form 'reset_customer_password' %}
    {{ form.errors | default_errors }}
    <fieldset id="password">
      <label for="password">Password</label><br>
      <input type="password" value="" name="customer[password]" id="customer_password" size="30" />
    </fieldset>
    <fieldset id="password_confirm">
      <label for="password_confirmation">Password Confirmation</label><br>
      <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" size="30" />
    </fieldset>
    <fieldset class="action_bottom">
      <input class="btn" type="submit" value="Reset Password" />
    </fieldset>
    {% endform %}
  </div><!-- customer-left -->
</div><!-- generic-page -->