<div class="row row-no-margins">
  <div class="col col100">
    <a href="{{ settings.home_full_width_URL }}" title="{{ settings.home_full_width_alt }}"><img src="{{ 'home_full_width.jpg' | asset_url }}" alt="{{ settings.home_full_width_alt }}"></a> 
  </div><!--col100-->
</div><!--row-->